.env
.venv/

# Exclude compiled Python files
*.pyc 

__pycache__/
__pycache__
.ruff_cache

.pytest_cache/
*.egg-info/

# Exclude all json files
*.json

/.vscode/
/logs/
app/mcp_dalux/language_model/instructions/__init__.py


# Exclude isolated test script
test-api.ps1
test-api - 05-05-2026✔️ .ps1
tests/handshake_test.py
tests/handshake_with_auth.py
test-api - Copy.ps1
test-api chat .ps1

app/mcp_dalux/llm/clients/groq_client.py
