.env
.venv/

# Exclude compiled Python files
*.pyc 

__pycache__/
__pycache__
.ruff_cache

.pytest_cache/
*.egg-info/

# Exclude all json files
*.json

/.vscode/
/logs/
app/mcp_dalux/language_model/instructions/__init__.py


# Exclude isolated test script
test-api.ps1