.env
.venv/

# Exclude compiled Python files
*.pyc 

__pycache__/
__pycache__
.ruff_cache

.pytest_cache/
*.egg-info/

# Exclude all json files except settings.json
*.json
!settings.json

/json_dumps/